<p id="notice"><%= notice %></p>

<p>
  <b>Usename:</b>
  <%= @user.username %>
</p>
<p>
<b>Current Level:</b>
<%= @user.level %>
</p>
<p>
<% if current_user && current_user == @user %>
  <%= link_to 'Level Up', user_level_up_path(@user), method: :post%>
<% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
