- my_user = current_user && current_user == @user
%p#notice= notice
%p
  %b Usename:
  = @user.username
%p
  %b Current Level:
  = @user.level
%p
  %b Gold
  = @user.gold
%p
  %b Fuel 
  = @user.fuel

%p
  %b Doraemon
  = @user.doraemon

%p
  - if my_user && @user.level < LEVEL_USER_MAX
    = link_to 'Level Up', user_level_up_path(@user), method: :post
