%p#notice= notice
%p
  %b Usename:
  = @user.username
%p
  %b Current Level:
  = @user.level
%p
  - if current_user && current_user == @user
    = link_to 'Level Up', user_level_up_path(@user), method: :post
= link_to 'Edit', edit_user_path(@user)
|
\#{link_to 'Back', users_path}
