- if car.ended_at && car.ended_at > Time.now
  %p
    = link_to "Car #{car.id}", car_path(car)
    is racing !!
    %br
    = "Time to done: #{time_ago_in_words(car.ended_at)}"
    %br
    = link_to "Speed up", speed_up_worker_car_path(car), method: :post
- else
  %p
    = link_to "Car #{car.id}", car_path(car)
    is rest.
  %p
    = link_to "Racing", race_car_path(car, :map_id => @map.id), method: :post
