- session[:map_id] = @map.id
- if car.ended_at && car.ended_at > Time.now
  %p
    = link_to "Car #{car.id}", car_path(car)
    is racing !!
    %br
    = "Time to done: #{time_ago_in_words(car.ended_at)}"
- else
  %p
    = link_to "Car #{car.id}", car_path(car)
    is rest.
  %p
    = link_to "Racing", race_car_path(car), method: :post
