- type = @car.type.split(':').last.downcase
%p#notice= notice
%p
  %b
    = "This is #{type} car"

- if @car.working?
  %p 
    This car is working !!
    %br
    = "Time to done: #{time_ago_in_words(@car.ended_at)}"
    - if type == 'worker'
      %p 
        Doraemon require to speed up required
        = @car.doraemon_require
      - if @car.enough_doraemon? 
        %p
          = link_to "Speed up", speed_up_worker_car_path(@car), method: :post
- else
  %p
    This car is rest.
    %br
    - if type == 'worker'
      = form_tag(go_to_work_car_path(@car), method: :post) do 
        = select_tag "time", options_for_select(Settings.time_to_work.to_hash.keys.map(&:to_s).map(&:to_i))
        = submit_tag "go to work"
    - else
      = link_to "Go to race", maps_path 
